{deps, [
        {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", "master"}},
        {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.4.1"}}},
        {sockjs, ".*", {git, "https://bitbucket.org/flotype/sockjs-erlang.git", {branch, "master"}}},
        {proper, ".*", {git, "https://github.com/manopapad/proper.git", "master"}},
        {rabbit_common, ".*", {git, "git://github.com/jbrisbin/rabbit_common.git", {tag, "rabbitmq-2.8.1"}}},
        {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-2.8.1"}}}
       ]}.
{erl_opts, [{i, "deps"}, {i, "include"}]}.
{sub_dirs, ["rel", "ebin"]}.
