[{gateway, [
            {hostname, "cloud.flotype.com"},
            {tcp_port, 8090},
            {web_port, 8091},
            {reconnect_timeout, 5000},
            {redirector_url,"http://ip-10-118-161-97.ec2.internal:7001/ctl/"},
            {ctl_port, 7002},
            {log, file}]},
 {sockjs,  [{sockjs_url,       "http://cdn.sockjs.org/sockjs-0.1.2.min.js"},
            {heartbeat_ms,     25000},
            {session_close_ms, 5000},
            {json_impl,        jiffy}]},
 {sasl,    [{errlog_type,      error}]}].
